@import "../../_variables";

@mixin flexContainer($direction: column) {
  display: flex;
  flex-direction: $direction;
}

html {
  scroll-behavior: smooth;
}

body {
  @include flexContainer(row);
  justify-content: space-between;
  background-color: $primaryColor;
  padding: 30px 10px;
}
img {
  border-radius: 5px;
}

h2 {
  color: $textColor;
  border-bottom: 1px solid $decorationColor;
  font-size: 3rem;
  margin: 0;
}

nav {
  @include flexContainer();
  position: sticky;
  top: 40px;
  padding-right: 20px;
  a {
    text-decoration: none;
    color: $textColor;
    border-bottom: 1px solid $decorationColor;
    padding: 10px 0;
    width: 95%;
    font-size: 1.3rem;
  }
  width: 10%;
  height: 30%;
}

#main-container {
  @include flexContainer();
  justify-content: space-between;
  border-left: 1px solid $secondaryColor;
  padding-left: 30px;
  width: 85%;
  height: 100%;
}

#header-container {
  @include flexContainer();
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  height: 5%;
}

#events-container {
  @include flexContainer(row);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 90%;
}

.event {
  @include flexContainer(column);
  justify-content: space-between;
  width: 30%;
  padding-bottom: 30px;
}

.event-img {
  img {
    width: 100%;
  }
}

.event-content {
  @include flexContainer(column);
  justify-content: space-between;
  h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 5px 0;
    color: $decorationColor;
  }
  a {
    font-size: 1.2rem;
    text-decoration: none;
    color: $decorationColor;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1.3rem;
    margin: 0;
    padding-bottom: 5px;
    color: $textColor;
  }
}
